body {
    background-image: url(/assets/img/final_62507db951896f1c0e0db5f4_680378.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.teste {
    display: flex;
    justify-content: space-between;
    margin-top: 60vh;
    
}


.ttt {
    margin-left: 100px;
}






