@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');

body {
    background-image: url(/assets/img/gifOficial.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow-y: hidden;
}

.teste {
    display: flex;
    justify-content: space-between;
    margin-top: 63vh;
}

.ml {
    margin-left: 300px;
}


.ttt {
    margin-left: 100px;
}

.top {
    
    position: relative;
    top: -100px;
    display: none;
    display: block;
}

p {
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    margin-right: 40px;
    text-decoration: none;
    color: white !important;
    
    text-shadow: 0 0 8px hsl(0 0% 100%/ 0.3, 0 0 32px 0, lightness) !important;
}



@media (min-width: 200px) and (max-width: 768px) {
    
    body {
        background-image: url(../img/ImagemConvite3.jpg);
        background-size: cover;
    }

    #naoAparecer #naoAparecer1 #naoAparecer3{display:none;}

    .tamanho{
        width: 100px;
    }

    #textoSabotage {
        display: none;
    }

    #report {
        justify-content: center !important;
    }

    .cell {
        height: 200px;
        width: 200px !important;
    }

    .teste {
        display: flex;
        justify-content: space-between;
        margin-top: 65vh;
    }
}