body{
    background-color: #131515;
    background-image: url(https://i.pinimg.com/originals/da/3e/37/da3e373c47aa9c176dc51c300b2fb03a.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.voltar{
    display: flex;
    justify-content: space-between;
    margin-top: 65vh;
    margin-right: 100vh;
}

